In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [7]:
attendance = pd.read_excel('Attendance.xlsx')
attendance = attendance.set_index('Unnamed: 0')
ECV = pd.read_excel('ECVIncidents.xlsx')

In [9]:
Hourly = pd.read_csv('UPDATEDFC.csv')
Hourly = Hourly[Hourly['PARK'] == 'MAGIC KINGDOM THEME PARK']

In [11]:
Hourly

,CLICK_BUS_DT,PARK,DPP_SEGMENT_NAME,RESORT,CLICK_TIME,CLICK_CN
2,2023-03-03,MAGIC KINGDOM THEME PARK,Day Guest,Disney's Yacht Club Resort,2023-03-03T09:30:00Z,30
3,2023-07-12,MAGIC KINGDOM THEME PARK,Day Guest,Disney's Art of Animation Resort,2023-07-12T10:30:00Z,48
7,2023-03-25,MAGIC KINGDOM THEME PARK,Day Guest,Disney's Pop Century Resort,2023-03-25T08:00:00Z,72
11,2023-08-21,MAGIC KINGDOM THEME PARK,Day Guest,Disney's All-Star Music Resort,2023-08-21T08:15:00Z,104
12,2023-04-02,MAGIC KINGDOM THEME PARK,Day Guest,The Campsites at Disney's Fort Wilderness Resort,2023-04-02T09:30:00Z,51
...,...,...,...,...,...,...
1118893,2023-05-13,MAGIC KINGDOM THEME PARK,AP Day,The Villas at Disney's Grand Floridian Resort ...,2023-05-13T12:00:00Z,1
1118894,2023-06-28,MAGIC KINGDOM THEME PARK,Day Guest,Disney's Animal Kingdom Lodge,2023-06-28T16:30:00Z,1
1118903,2023-08-06,MAGIC KINGDOM THEME PARK,Cast All Day,Disney's Art of Animation Resort,2023-08-06T21:15:00Z,1
1118904,2023-08-10,MAGIC KINGDOM THEME PARK,AP Day,Disney's Grand Floridian Resort & Spa,2023-08-10T21:15:00Z,1
1118910,2023-08-13,MAGIC KINGDOM THEME PARK,AP Day,Disney's All-Star Sports Resort,2023-08-13T20:15:00Z,1

In [10]:
ECV

,Setid,Client ID-Claim,Date of Incident/Loss,Fiscal Year,Fiscal Month,Time of Incident/Loss,Incident to Claim Date,Occurrence Number,Claim Number,Age at Date of Incident,...,Litigation Desc,Attorney Represented,Attorney Represented Desc,Service Co. TPA Code/Carrier Code,Service Co. TPA Code/Carrier Code Name,DVC/Fireman's Fund Flag,DVC/Fireman's Fund Flag Desc,Disney Claim Total Incurred,Disney Claim Total Paid,Disney Claim Total Reserve
0,1.0,WDW,2018-10-01,FY19,1_Oct,2040.0,NaT,WDWG2018195078,WDWG2018195078,75,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
1,1.0,WDW,2018-10-02,FY19,1_Oct,0.0,NaT,WDWG2018195240,WDWG2018195240,2017,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
2,1.0,WDW,2018-10-02,FY19,1_Oct,1302.0,NaT,WDWG2018195168,WDWG2018195168,73,...,NaN,NaN,NaN,FIRE,DVC/Fireman's Fund,1.0,Record Only,NaN,NaN,NaN
3,1.0,WDW,2018-10-02,FY19,1_Oct,1540.0,NaT,WDWG2018195156,WDWG2018195156,76,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
4,1.0,WDW,2018-10-02,FY19,1_Oct,1930.0,NaT,WDWG2018195206,WDWG2018195206,29,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446,1.0,WDW,2023-09-30,FY23,12_Sep,NaN,NaT,WDWG2023725384,WDWG2023725384,NaN,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
4447,1.0,WDW,2023-10-01,FY24,1_Oct,1657.0,NaT,WDWG2023724052,WDWG2023724052,71,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
4448,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4449,1.0,WDW,2023-10-01,FY24,1_Oct,NaN,NaT,WDWG2023725429,WDWG2023725429,NaN,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
4450,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,4123,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
import pandas as pd

# Assuming Hourly is your pandas DataFrame
# Convert CLICK_TIME to datetime if not already
Hourly['CLICK_TIME'] = pd.to_datetime(Hourly['CLICK_TIME'])

# Create a new column for the time category
Hourly['TIME_CATEGORY'] = pd.cut(Hourly['CLICK_TIME'].dt.hour,
                                 bins=[0, 5, 12, 17, 24],
                                 labels=['Night', 'Morning', 'Afternoon', 'Night'],
                                 include_lowest=True,
                                 right=False,
                                 ordered=False)

# Group by CLICK_BUS_DT and TIME_CATEGORY, then sum CLICK_CN
result = Hourly.groupby(['CLICK_BUS_DT', 'TIME_CATEGORY'])['CLICK_CN'].sum().reset_index()

# Pivot the table to have morning, afternoon, and night as columns
result_pivot = result.pivot(index='CLICK_BUS_DT', columns='TIME_CATEGORY', values='CLICK_CN').reset_index()

# If you want to fill NaN values with 0
result_pivot.fillna(0, inplace=True)

# Display the result
print(result_pivot)

TIME_CATEGORY CLICK_BUS_DT  Afternoon  Morning  Night
0               2023-02-26       3199    10948    562
1               2023-02-27       1668    14718    508
2               2023-02-28       1701    14504    343
3               2023-03-01       1730    13342    652
4               2023-03-02       1812    13359    889
..                     ...        ...      ...    ...
177             2023-08-22       8298    12731   6059
178             2023-08-23       2771    16044   1889
179             2023-08-24       2376    14519   1006
180             2023-08-25       6667    11334   6429
181             2023-08-26       2210    10552   1089

[182 rows x 4 columns]

In [17]:
# Assuming ECV is your ECV DataFrame
# Assuming result_pivot is the DataFrame from the previous code

# Convert 'Date of Incident/Loss' to datetime format
ECV['Date of Incident/Loss'] = pd.to_datetime(ECV['Date of Incident/Loss'])

# Convert 'CLICK_BUS_DT' to datetime format in result_pivot
result_pivot['CLICK_BUS_DT'] = pd.to_datetime(result_pivot['CLICK_BUS_DT'])

# Merge the dataframes on the common column
merged_df = pd.merge(result_pivot, ECV, left_on='CLICK_BUS_DT', right_on='Date of Incident/Loss', how='inner')

# Rename the merged column to 'date'
merged_df.rename(columns={'Date of Incident/Loss': 'date'}, inplace=True)

merged_df

,CLICK_BUS_DT,Afternoon,Morning,Night,Setid,Client ID-Claim,date,Fiscal Year,Fiscal Month,Time of Incident/Loss,...,Litigation Desc,Attorney Represented,Attorney Represented Desc,Service Co. TPA Code/Carrier Code,Service Co. TPA Code/Carrier Code Name,DVC/Fireman's Fund Flag,DVC/Fireman's Fund Flag Desc,Disney Claim Total Incurred,Disney Claim Total Paid,Disney Claim Total Reserve
0,2023-02-26,3199,10948,562,1.0,WDW,2023-02-26,FY23,6_Mar,1523.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
1,2023-02-26,3199,10948,562,1.0,WDW,2023-02-26,FY23,6_Mar,1900.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
2,2023-02-27,1668,14718,508,1.0,WDW,2023-02-27,FY23,6_Mar,1045.0,...,"No, Not in Litigation",Y,Yes,SELF,Self-administered,NaN,NaN,25000.0,0.0,25000.0
3,2023-02-28,1701,14504,343,1.0,WDW,2023-02-28,FY23,6_Mar,1350.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
4,2023-03-01,1730,13342,652,1.0,WDW,2023-03-01,FY23,6_Mar,1515.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,2023-08-23,2771,16044,1889,1.0,WDW,2023-08-23,FY23,11_Aug,1610.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
521,2023-08-24,2376,14519,1006,1.0,WDW,2023-08-24,FY23,11_Aug,NaN,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
522,2023-08-25,6667,11334,6429,1.0,WDW,2023-08-25,FY23,11_Aug,1145.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
523,2023-08-25,6667,11334,6429,1.0,WDW,2023-08-25,FY23,11_Aug,NaN,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN
524,2023-08-26,2210,10552,1089,1.0,WDW,2023-08-26,FY23,11_Aug,1850.0,...,NaN,NaN,NaN,SELF,Self-administered,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged.to_csv('J:/Data/RMSA Analysis/0 - Team Working Files/10 - Nick/ParkCounts.csv', index=False)